@charset "utf-8";

body {
    margin-top: 20px;
}

h1 {
    margin-bottom: 30px;
    margin-left: 40px;
}

.navbar-nav > li {
    padding-left: 25px;
}

h2 {
    margin-left: 40px;
    margin-top: 30px;
}

h3 {
    color: gray; 
    margin-left: 40px;
    margin-top: 10px;
}

.p-unique {
   font-size: 2em;
   margin-top: 30px; 
}

.d-unique {
   margin-top: 25px;
}

.homepage-info {
    margin-top: 40px;
    margin-left: 40px;
}

.filterform {
    margin-left: 40px;
}

input[type=submit] {
    margin-left: 12px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 450px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

table {
    margin-left: 40px;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
